/* base rules */

*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #6c757d;
}

body{
    background: black;
}

/* Nav */

nav .r-nav{
    background: transparent;
    padding: 20px 0;
    /* transition: .5s all; */
}

nav .navbar-brand{
    font-size: 30px;
    color: white;
    /* transition: .5s all; */
}

nav .navbar-nav li a{
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
}

nav .navbar-nav li {
    margin-left: 15px;
}

nav.r-nav.stickyadd {
    background: #fff !important;
    padding: 15px 0;
    box-shadow: 0 1px 8px 3px rbga(0,0,0,0.05);
    transition: .5s all ease-in-out;
}

nav.stickyadd .navbar-brand{
    color:#000;
    font-size:40px;
    transition: .5s all;
}

nav.stickyadd .navbar-nav .nav-link{
    color:#000 !important;
}

.navbar .hamburger{
    color:#fff;
}

nav.stickyadd .hamburger{
    color:#000;
}